<div id="home-wrap">

  <div id="screen"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h3 v-if="user && user.name">Game Statistics | Username: {{ user.name }}</h3>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Player Name</th>
              <th scope="col">Kill(s)</th>
              <th scope="col">Token(s)</th>
              <th scope="col">Alive?</th>
              <th scope="col">Tx Link</th>
            </tr>
          </thead>
          <tbody v-if="players&&players.length">
            <tr v-for="player of players">
              <td>{{ player.name }}</td>
              <td>{{ player.kills }}</td>
              <td>{{ player.tokens }}</td>
              <td>{{ player.alive }}</td>
              <!-- <td><a :href="player.txid" _blank="target">txid</a></td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
