<div id="home-wrap">

  <div id="screen"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h3>Game Statistics</h3>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Kill/Death Ratio</th>
              <th scope="col">Token(s)</th>
              <th scope="col">Alive?</th>
              <th scope="col">Tx Link</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="p in players">
              <td>{{ p.name }}</td>
              <td>{{ p.kdr }}</td>
              <td>{{ p.tokens }}</td>
              <td>{{ p.alive }}</td>
              <td>{{ p.txlink }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
